.header-color {
  background: #ef32d9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #ef32d9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.avatar-image {
  padding: 2em;
  width: 280px;
}

.panda-image {
  width: 100px;
}

.banner-text {
  width: 80%;
  margin: auto;
}

.button-container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container a {
  position: relative;
  width: 170px;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  background: rgba(255,255,255,.1);
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  border-radius: 5em;
}

.button-container a:hover .black {
  color: black;
  transition: .5s;
}

.button-container a:hover .orange {
  color: #EA4C89;
  transition: .5s;
}

.button-container a:hover .blue {
  color: #0E76A8;
  transition: .5s;
}

.button-container a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255,.1);
  border-radius: 5em;
}

.button-container a:after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,transparent,rgba(255,255,255,.2),transparent);
  border-radius: 5em;
  transition: 0.5s;
  transition-delay: 0.2s;
}

.button-container a:hover:after {
  left: 100%;
}

.button-container a span {  
  position: absolute;
  display: block;
  transition: 0.5s ease;
}

.button-container a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
  opacity: .4;
}

.button-container a:hover span:nth-child(1) {
  width: 100%;
  transform: translateX(100%);
}


.button-container a span:nth-child(2) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
  opacity: .4;
}

.button-container a:hover span:nth-child(2) {
  width: 100%;
  transform: translateX(-100%);
}

.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.banner-text p {
  font-size: 15px;
  color: white;
  margin: auto;
}

.general-links {
  position: relative;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 300px;
  margin: auto;
  margin-top: 10px;
}

.general-links .card {
  background-color: white;
  height: 90px;
  width: 80px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: .5em;
  background: rgba(255,255,255,.1);
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  overflow: hidden;
}
.general-links .card a {
  position: relative;
  width: 90px;
  padding: 10px 30px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: sans-serif;
  overflow: hidden;
  background: rgba(255,255,255,1);
  border-radius: .5em;
}

.social-links i {
  color: white;
  font-size: 2em;
}

.landing-grid-top {
  color: white;
}

.circle-links {
  margin: 0;
  padding: 0;
}

.circle-links ul {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  margin-top: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-links ul li {
  list-style: none;
}


.circle-links ul li text .text-adjust {
  padding: 10em;
}

.circle-links ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 8px 8px rgba(0,0,0,.2);
  transition: .5s;
  background: linear-gradient(0deg, #fff, #ddd)
}

.circle-links ul text {
  color: white;
  font-size: 10px;
  margin-top: 10px;
  position: relative;
}

.circle-links ul li a:hover {
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.circle-links ul li a .fa {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ff0);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #bdc3c7;
  transition: .5s;
}

.circle-links ul li:nth-child(1) a:hover .fa {
  color: #a17fe0;
}

.circle-links ul li:nth-child(2) a:hover .fa {
  color: #FF4B2B;
}

.circle-links ul li:nth-child(3) a:hover .fa {
  color: #4ECDC4;
}



.bottom-panda {
  padding-top: 300px;
}